{{- $id := printf "%02d" (add .Ordinal 1) -}}

<span class="sidenote-mark text-blue-600 dark:text-blue-400" aria-details="sidenote-content-{{ $id }}">
  <sup class="font-semibold">{{ $id }}</sup>
</span>
<small id="sidenote-content-{{ $id }}" class="sidenote text-sm text-gray-600 dark:text-gray-400 xl:float-left xl:clear-left xl:w-48 xl:ml-[-13rem] xl:mt-0 mt-2 mb-2 block xl:block bg-gray-50 dark:bg-gray-800 p-2 rounded xl:bg-transparent xl:dark:bg-transparent xl:p-0">
  <span class="sr-only">(sidenote: </span>
  <sup class="font-semibold text-blue-600 dark:text-blue-400 xl:inline hidden">{{ $id }}</sup>
  {{ .Inner | markdownify }}
  <span class="sr-only">)</span>
</small>
